.neuro {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 1080px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .neuro .div {
    align-items: center;
    background-color: #ccfbff;
    display: flex;
    gap: 565px;
    height: 100px;
    padding: 10px 80px;
    position: relative;
    width: 1920px;
  }
  
  .neuro .image {
    height: 39px;
    margin-left: -2.5px;
    position: relative;
    width: 269px;
  }
  
  .neuro .navbar {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 96px;
    margin-right: -16px;
    padding: 10px;
    position: relative;
  }
  
  .neuro .text-wrapper {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .neuro .text-wrapper-2 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .neuro .view {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 900px;
    position: relative;
    width: 1760px;
  }
  
  .neuro .view-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 900px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 860px;
  }
  
  .neuro .text-wrapper-3 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .neuro .rectangle {
    background-color: #ccfbff;
    height: 649px;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    width: 860px;
  }
  
  .neuro .frame {
    align-items: center;
    display: flex;
    gap: 150px;
    height: 122px;
    justify-content: center;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 0px;
    position: relative;
    width: 860px;
  }
  
  .neuro .text-wrapper-4 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 500;
    height: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: 160px;

    display: flex;
    justify-content: center;
    align-items:  center;
  }
  
  .neuro .text-wrapper-5 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 500;
    height: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 160px;

    display: flex;
    justify-content: center;
    align-items:  center;
  }
  
  .neuro .text-wrapper-6 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 500;
    height: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 182px;

    display: flex;
    justify-content: center;
    align-items:  center;
  }
  
  .neuro .view-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 898px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 860px;
  }
  
  .neuro .div-wrapper {
    align-items: flex-start;
    background-color: #ccfbff;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 230px;
    margin-left: -10px;
    margin-right: -10px;
    
    
    position: relative;
    width: 860px;
  }
  
  .neuro .text-wrapper-7 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
    width: fit-content;
  }
  
  .neuro .frame-2 {
    align-items: flex-start;
    background-color: #ccfbff;
    border: 9px solid;
    border-color: #0b1d38;
    border-radius: 20px;

    height: 528px;
   
    position: relative;
    width: 840px;
  }
  
  .neuro .text-wrapper-8 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -9px;
    position: relative;
    width: fit-content;
    margin-top: 15px;
    margin-left: 20px;

  }
  