#profile {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 1080px;
    
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  #profile #div {
    align-items: center;
    background-color: #ccfbff;
    display: flex;
    gap: 565px;
    height: 100px;
    padding: 10px 80px;
    position: relative;
    width: 1920px;
    
  }
  
  #profile #image {
    height: 39px;
    left: 80px;
    position: relative;
    width: 269px;
  }
  
  #profile #view {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 96px;
    margin-right: -15px;
    padding: 10px;
    position: relative;
  }
  
  #profile #text-wrapper {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  #profile #text-wrapper-2 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  #profile #text-wrapper-3 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  #profile #view-2 {
    align-items: flex-start;
    display: flex;
    gap: 40px;
    height: 900px;
    position: relative;
    width: 1800px;
  }
  
  #profile #element {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 900px;
    position: relative;
    width: 860px;
  }
  
  #profile #div-2 {
    align-items: flex-start;
    border: 4px solid;
    border-color: #0b1d38;
    border-radius: 30px;
    display: flex;
    gap: 79px;
    height: 303px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 859px;
  }
  
  #profile #div-3 {
    background-color: #ccfbff;
    height: 200px;
    position: relative;
    width: 200px;
    border-radius: 30px;

    background-image: url("../assets/profile_picture.jpg");
  }
  
  #profile #view-3 {
    
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 283px;
    margin-bottom: -20px;
    padding: 10px;
    position: relative;
    font-weight: 600;
    width: 200px;
  }

  #profile #view-3-values {
    
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 283px;
    margin-bottom: -20px;
    padding: 10px;
    position: relative;
    font-weight: 400;
    
    width: 200px;
  }
  
  #profile #text-wrapper-4 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    
    height: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    
    white-space: nowrap;
    width: 68px;
  }
  
  #profile #text-wrapper-5 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    
    height: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    
    white-space: nowrap;
    width: 150px;
  }
  
  #profile #text-wrapper-6 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    
    height: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    
    white-space: nowrap;
    width: 161px;
  }
  
  #profile #text-wrapper-7 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    
    height: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    
    white-space: nowrap;
    width: 176px;
  }
  
  #profile #text-wrapper-8 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    
    white-space: nowrap;
    width: 161px;
  }
  
  #profile #view-4 {
    align-items: center;
    background-color: #ccfbff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 547px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 860px;
  }
  
  #profile #text-wrapper-9 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  #profile #frame {
    align-items: flex-start;
    display: flex;
    gap: 140px;
    height: 481px;
    margin-bottom: -10px;
    margin-left: -9.5px;
    margin-right: -9.5px;
    padding: 10px 50px;
    position: relative;
    width: 859px;
    left: 60px;
  }
  
  #profile #p {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  #profile #span {
    font-weight: 600;
  }
  
  #profile #text-wrapper-10 {
    font-size: 40px;
    font-weight: 600;
  }
  
  #profile #text-wrapper-11 {
    font-size: 24px;
  }
  
  #profile #element-2 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  #profile #text-wrapper-12 {
    font-weight: 500;
  }
  
  #profile #text-wrapper-13 {
    font-size: 32px;
    font-weight: 600;
  }
  
  #profile #element-3 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    height: 900px;
    position: relative;
    width: 880px;
    overflow-y:scroll;
    left:30px;
    padding: 10px;
    row-gap: 10px;
  }
  
  #profile #text-wrapper-14 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  #files-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 900px;
    position: relative;
    width: 900px;
    gap: 28px;
  }

.file{
  height: 145px;
  width: 150px;
  background-color: #0C1E38;

  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  
  padding-bottom: 5px;

  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  
  transition: 0.3s;
}

.file:hover{
  background-color: #071220 !important;
	cursor: pointer;
}

.header_link{
	transition: 0.3s;
  }
  .header_link:hover{
	color: #85e2e8 !important;
	cursor: pointer;
  }

  .btn_info{
	transition: 0.3s;
	
  }
  .btn_info:hover{
    color: #85e2e8 !important;
    cursor: pointer;
  }
.btn_purchase{
	transition: 0.3s;
}

  .btn_purchase:hover{
    color: #85e2e8 !important;
    cursor: pointer;
  }



