.title {
    color: red;
} 

.pipelines_container {
	width: 100vw;
	height: 80vh;
    column-gap: 2vw;
    row-gap: 1vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    padding: 5vh 5vh 0px 5vh;
}

.pipelines_block{
    width: 21vw;
	height: 23vh;
    background-image: url("https://placehold.co/410x250.png");
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: end;
    padding-left: 1%;
}

.pipelines_block_add{
    width: 21vw;
	height: 23vh;
    background-image: url("https://placehold.co/410x250.png");
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.pipelines_block_add_button{
    /*background-image: url("https://placehold.co/410x250.png");*/
    background-color: #ddd;
    border-radius: 0;
    width: 21vw;
	height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pipelines_block_add_button:hover{
    background-color: #ccfcff;
}

.pipelines_block_add_button:active{
    background-color: #ddd;
}

.button_vertical{
    width: 20px;
    height: 100px;
    background-color: #64F2FB;
    position:fixed;
}

.button_gorizontal{
    width: 100px;
    height: 20px;
    background-color: #64F2FB;
    position:fixed;
}



.container{
    width: 100%;
    overflow: hidden;
}

.div {
    align-items: center;
    background-color: #ccfbff;
    display: flex;
    gap: 480px;
    height: 100px;
    padding: 10px 80px;
    position: relative;
    width: 1920px;

  }
  
  .image {
    height: 39px;
    left: 80px;
    position: relative;
    width: 269px;
  }
  
  .navbar {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 96px;
    margin-right: -16px;
    padding: 10px;
    position: relative;
  }
  
  .textwrapper {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
    transition: 0.3s;
  }

  .textwrapper:hover {
    color: #85e2e8 !important;
    cursor: pointer;
  }
  
  .textwrapper2 {
    color: #000000;
    font-family: "Kodchasan", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;

    transition: 0.3s;
  }

  .textwrapper2:hover {
    color: #85e2e8 !important;
    cursor: pointer;
  }