#authorization_background{
    background-image: url(https://cdn.animaapp.com/projects/659a96dbde0bbd56d7a8ad3d/releases/659a97a83eeab1d3632e9f59/img/-------.png);
	background-attachment: fixed;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1028px;
}

#authorization_container{
    width: 430px;
    height: 732.5px;
    padding: 70px;
    background-color: #fff;
    display: flex;
    flex-flow:column;
    align-items: center;
}

#authorization_title{
    color: #000;
    font-family: "Inter", Helvetica;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
}

#authorization_inputblock{
    margin-top: 40px;
    width: 389px;
    display: flex;
    flex-flow: column;
    gap: 22px;
}

.authorization_login{
    display: flex;
    flex-flow: column;
}

.authorization_subtitle{
    color: #000;
    font-family: "Inter", Helvetica;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
    text-align: left;
}

.authorization_input{
    height: 62px;
}