#registration_background{
    background-image: url(https://cdn.animaapp.com/projects/659a96dbde0bbd56d7a8ad3d/releases/659a97a83eeab1d3632e9f59/img/-------.png);
	background-attachment: fixed;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1028px;
}

#registration_container{
    width: 430px;
    height: 732.5px;
    padding: 70px;
    background-color: #fff;
    display: flex;
    flex-flow:column;
    align-items: center;
}

#registration_title{
    color: #000;
    font-family: "Inter", Helvetica;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
}

#registration_inputblock{
    margin-top: 40px;
    width: 389px;
    display: flex;
    flex-flow: column;
    gap: 22px;
}

.registration_login{
    display: flex;
    flex-flow: column;
}

.registration_subtitle{
    color: #000;
    font-family: "Kodchasan", Helvetica;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
    text-align: left;
}

.registration_input{
    height: 62px;
}

#registration_button{
    margin: 57px 0px 19px 0px;
    width: 416px;
    height: 58px;
    border-width: 0px;
    border-radius: 15px;
    background-color: #64F2FB;
    font-family: "Kodchasan", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 34px;
	letter-spacing: 0;
	line-height: normal;
}

#registration_button:hover{
    animation: button_hover 0.1s ease 1 forwards;
    
}

@keyframes button_hover{
    from{}
    to{box-shadow: 0px 0px 7px 0px #041C38;}
}

#registration_button:active{
    background-color: #CCFCFF;
    animation: none;
}

#registration_toAuthorization{
    font-family: "Kodchasan", Helvetica;
	font-size: 22px;
	font-weight: 400;
	left: 34px;
	letter-spacing: 0;
	line-height: normal;
}

#registration_link{
    color:#000;
    text-decoration: underline;
}

#registration_link:hover{
    text-decoration: none;
}

#registration_with_help{
    margin: 34px 0 26px 0;
    font-family: "Kodchasan", Helvetica;
	font-size: 25px;
	font-weight: 400;
	left: 34px;
	letter-spacing: 0;
	line-height: normal;
}

#registration_icons{
    display: flex;
    gap: 46px;
}

#registration_icon_1{
    width: 80px;
    height: 80px;
    background-color: #CCC;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#registration_vk{
    width: 100px;
    height: 100px;
    position: absolute;
    left: -10px;
    top: -10px;
}

#registration_icon_2{
    width: 80px;
    height: 80px;
    background-color: #CCC;
    border-radius: 50%;
}

#registration_icon_3{
    width: 80px;
    height: 80px;
    background-color: #CCC;
    border-radius: 50%;
}